[submodule ".local/etc/chromium/extensions/chromium-web-store"]
	path = .local/etc/chromium/extensions/chromium-web-store
	url = https://github.com/NeverDecaf/chromium-web-store
[submodule ".local/etc/chromium/extensions/Addon"]
	path = .local/etc/chromium/extensions/Addon
	url = https://github.com/ClearURLs/Addon
[submodule ".local/etc/chromium/extensions/Vimium"]
	path = .local/etc/chromium/extensions/Vimium
	url = https://github.com/philc/Vimium
[submodule ".local/etc/chromium/extensions/stylus"]
	path = .local/etc/chromium/extensions/stylus
	url = https://github.com/openstyles/stylus
[submodule ".local/etc/chromium/extensions/LocalCDN"]
	path = .local/etc/chromium/extensions/LocalCDN
	url = https://codeberg.org/nobody/LocalCDN.git
[submodule ".local/etc/chromium/extensions/AutoScroll"]
	path = .local/etc/chromium/extensions/AutoScroll
	url = https://github.com/Pauan/AutoScroll
[submodule ".local/etc/chromium/extensions/ClearURLs"]
	path = .local/etc/chromium/extensions/ClearURLs
	url = https://github.com/ClearURLs/Addon
[submodule ".local/etc/chromium/extensions/DarkReader"]
	path = .local/etc/chromium/extensions/DarkReader
	url = https://github.com/darkreader/darkreader
[submodule ".local/etc/chromium/extensions/SearchByImage"]
	path = .local/etc/chromium/extensions/SearchByImage
	url = https://github.com/dessant/search-by-image
[submodule ".local/etc/chromium/extensions/uBlock"]
	path = .local/etc/chromium/extensions/uBlock
	url = https://github.com/gorhill/uBlock
[submodule ".local/etc/chromium/extensions/UniversalBypass"]
	path = .local/etc/chromium/extensions/UniversalBypass
	url = https://github.com/Sainan/Universal-Bypass
[submodule ".local/etc/chromium/extensions/UserAgentSwitcher"]
	path = .local/etc/chromium/extensions/UserAgentSwitcher
	url = https://github.com/ray-lothian/UserAgent-Switcher
[submodule ".local/etc/chromium/extensions/ViolentMonkey"]
	path = .local/etc/chromium/extensions/ViolentMonkey
	url = https://github.com/violentmonkey/violentmonkey
[submodule ".local/etc/chromium/extensions/WebRTCLeakPreventToggle"]
	path = .local/etc/chromium/extensions/WebRTCLeakPreventToggle
	url = https://github.com/aghorler/WebRTC-Leak-Prevent-Toggle
[submodule ".local/etc/chromium/extensions/audio-only-youtube"]
	path = .local/etc/chromium/extensions/audio-only-youtube
	url = https://github.com/Ashish-Bansal/audio-only-youtube
