[submodule ".local/share/zsh/zsh-autosuggestions"]
	path = .local/share/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".local/share/zsh/zsh-syntax-highlighting"]
	path = .local/share/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".local/share/zsh/zsh-completions"]
	path = .local/share/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".local/share/zsh/zsh-history-substring-search"]
	path = .local/share/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".config/i3/i3-master-stack"]
	path = .config/i3/i3-master-stack
	url = https://github.com/Julynx/i3-master-stack
